/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #333333;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../fonts/merriweatherregular.woff2') format('woff2'), url('../fonts/merriweatherregular.woff') format('woff'), url('../fonts/merriweatherregular.ttf') format('truetype');
}

/* Типовые элементы */
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1240px;
  margin: auto;
}
.filler {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
button {
  outline: none;
  border: 0;
}
h1, h1 span {
  font-family: Merriweather, sans-serif;
  font-size: 45px;
}
h1 span {
  color: #486DF1;
}
.bg-1 {
  background: url('../img/bg-1.png') no-repeat;
  background-size: cover;
}
.bg-2 {
  background: url('../img/bg-2.png') no-repeat;
  background-size: cover;
}
.bg-3 {
  background: url('../img/bg-3.png') no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1000px) {
  h1, h1 span {
    font-size: 29px;
  }
}
h2, h2 span {
  font-family: Poppins, sans-serif;
}
h6 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
.gold-color {
  color: #FBDCA5;
  background: -webkit-gradient(linear, left top, right top, from(#FBDCA5), to(#EABC6E));
  background: -o-linear-gradient(left, #FBDCA5 0%, #EABC6E 100%);
  background: linear-gradient(to right, #FBDCA5 0%, #EABC6E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
a.transparent-button {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #486DF1;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid rgba(72, 109, 241, 0.85);
  border-radius: 4px;
  padding: 15px 44px;
  z-index: 1;
  text-decoration: none;
}
a.transparent-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background-image: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background-image: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
  z-index: -1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0;
  border-radius: 4px;
}
a.transparent-button:hover::before {
  opacity: 1;
}
a.transparent-button:hover {
  padding: 16px 45px;
  color: #fff;
  border: 0;
}
a.transparent-button:active {
  background: -webkit-gradient(linear, left top, right top, from(#4D75D2), to(#2251CA));
  background: -o-linear-gradient(left, #4D75D2 0%, #2251CA 100%);
  background: linear-gradient(90deg, #4D75D2 0%, #2251CA 100%);
  color: #fff;
}
button.order, a.details {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 15px 36px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background-image: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background-image: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin-top: 69px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
button.order::before, a.details::before {
  position: absolute;
  border-radius: 4px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#4D75D2), to(#2251CA));
  background-image: -o-linear-gradient(left, #4D75D2 0%, #2251CA 100%);
  background-image: linear-gradient(90deg, #4D75D2 0%, #2251CA 100%);
  z-index: -1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0;
}
button.order:hover::before, a.details:hover::before {
  opacity: 1;
}
button.order:active, a.details:active {
  background: -webkit-gradient(linear, left top, right top, from(#4D75D2), to(#2251CA));
  background: -o-linear-gradient(left, #4D75D2 0%, #2251CA 100%);
  background: linear-gradient(90deg, #4D75D2 0%, #2251CA 100%);
}
.swiper-prev, .swiper-next {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.swiper-prev {
  background: url('../img/left-icon.png') no-repeat;
  background-position: center center;
}
.swiper-next {
  background: url('../img/right-icon.png') no-repeat;
  background-position: center center;
}
/* header */
body >.header {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
}
.header a {
  font-weight: 500;
  mix-blend-mode: normal;
}
.header .logo {
  width: 79px;
}
.header ul.navigation {
  margin-left: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header ul.navigation li {
  margin-right: 25px;
}
.header ul.navigation li a {
  font-size: 14px;
}
.header ul.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header ul.contacts li {
  margin-left: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header ul.contacts li a {
  font-size: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header ul.contacts li a:hover {
  text-decoration: none;
}
.header ul.contacts li a.active {
  font-weight: bold;
}
.header ul.contacts li img {
  margin-right: 19px;
}
/* burger menu */
.burger-menu {
  display: none;
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #24365F;
  border-radius: 10px;
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
          transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
#menu-toggle {
  opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
/* menu mobile */
#menubox-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: auto;
  background: #fff;
  top: 70px;
}
.menubox a:hover {
  text-decoration: none;
}
.menubox > ul.menu > li {
  width: 100%;
  margin-bottom: 6px;
  background: rgba(36, 54, 95, 0.06);
}
.menubox > ul.menu > li.active {
  background: #24365F;
}
.menubox > ul.menu > li.active > a {
  color: #fff;
}
.menubox > ul.menu > li.active ul {
  display: block;
}
.menubox > ul.menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.menubox ul.menu li#dropdown a::after {
  content: url('../img/down.svg');
  margin-left: 11px;
}
.menubox ul.menu li#dropdown.active a::after {
  content: url('../img/up.svg');
  margin-left: 11px;
}
.menubox ul.menu li ul {
  display: none;
  padding: 20px 12px 10px 12px;
  background: #fff;
}
.menubox > ul.menu > li > ul > li {
  background: none;
  margin: 10px 0;
}
.menubox > ul.menu > li > ul > li > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.menubox ul.menu li ul li {
  padding-left: 20px;
  background: url('../img/icon/list-gray.svg') no-repeat;
  background-position: left center;
}
.menubox ul.menu li ul li:hover {
  background: url('../img/icon/list-blue.svg') no-repeat;
  background-position: left center;
}
.menubox > ul.menu > li > ul > li > a:hover {
  color: #24365F;
  font-weight: bold;
  font-size: 14px;
}
.menubox > hr {
  margin: 38 0;
}
.menubox ul.navigation {
  margin: 0;
  display: block;
}
.menubox ul.navigation li {
  margin-bottom: 14px;
  padding: 0 15px;
}
.menubox ul.navigation li > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.menubox ul.contacts {
  display: block;
  margin-top: 57px;
}
.menubox ul.contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  margin-left: 0;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menubox ul.contacts li img {
  margin-right: 11px;
}
.menubox button.order {
  margin-top: 20px;
  margin-left: 15px;
}
.menubox .button-order {
  height: 160px;
}
/* end menu mobile */
/* banner */
.main {
  position: relative;
  background: -o-radial-gradient(70% 80%, circle farthest-side, #1E2841 0%, #0B1222 60%);
  background: radial-gradient(circle farthest-side at 70% 80%, #1E2841 0%, #0B1222 60%);
  background: -o-radial-gradient(circle farthest-side at 70% 80%, #1E2841 0%, #0B1222 60%);
  background: -webkit-radial-gradient(circle farthest-side at 70% 80%, #1E2841 0%, #0B1222 60%);
}
/* banner menu navigation */
.main ul.menu {
  background: #24365F;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main ul.menu li {
  position: relative;
  width: 100%;
  padding: 15px 0;
}
.main ul.menu li a {
  font-size: 14px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 0;
}
.main ul.menu li a i {
  margin-right: 14px;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.main ul.menu li a i.menu-icon-dropdown {
  background: url('../img/icon/menu-item-dropdown.svg') no-repeat center center;
}
.main ul.menu li:hover i.menu-icon-dropdown {
  background: url('../img/icon/menu-item-dropdown-active.svg') no-repeat center center;
}
.main ul.menu li a i.menu-icon-1 {
  background: url('../img/icon/menu-item-1.svg') no-repeat center center;
  background-position-y: 0px;
}
.main ul.menu li:hover i.menu-icon-1 {
  background-position-y: -21px;
}
.main ul.menu li a i.menu-icon-2 {
  background: url('../img/icon/menu-item-2.svg') no-repeat center center;
  background-position-y: 0px;
}
.main ul.menu li:hover i.menu-icon-2 {
  background-position-y: -21px;
}
.main ul.menu li a i.menu-icon-3 {
  background: url('../img/icon/menu-item-3.svg') no-repeat center center;
  background-position-y: 0px;
}
.main ul.menu li:hover i.menu-icon-3 {
  background-position-y: -21px;
}
.main ul.menu li a i.menu-icon-4 {
  background: url('../img/icon/menu-item-4.svg') no-repeat center center;
  background-position-y: 0px;
}
.main ul.menu li:hover i.menu-icon-4 {
  background-position-y: -21px;
}
.main ul.menu li:last-child a {
  border-right: 0;
}
.main ul.menu li ul.dropdown {
  display: none;
  position: absolute;
  z-index: 9999;
  background: #1B2B51;
  border-radius: 0px 0px 8px 8px;
  padding: 10px 30px;
  right: 0;
  width: calc(100% - 90px);
  margin-top: 15px;
}
.main ul.menu li:hover ul.dropdown {
  display: block;
}
.main ul.menu li ul.dropdown li {
  padding-left: 15px;
  background: url('../img/icon/dropdown-list-item.svg') no-repeat left top 22px;
}
.main ul.menu li ul.dropdown li:hover {
  background: url('../img/icon/list-item-gold.svg') no-repeat left top 22px;
}
.main ul.menu > li:hover > a, .main ul.menu > li > ul.dropdown > li:hover > a {
  color: #FBDCA5;
  background: -webkit-gradient(linear, left top, right top, from(#FBDCA5), to(#EABC6E));
  background: -o-linear-gradient(left, #FBDCA5 0%, #EABC6E 100%);
  background: linear-gradient(to right, #FBDCA5 0%, #EABC6E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main ul.menu li ul.dropdown li a {
  border: 0;
  padding: 0;
  display: inline;
  font-size: 14px;
  line-height: 21px;
}
/* end banner menu navigation */
.main h1 {
  margin-top: 86px;
  line-height: 67px;
  color: #FFFFFF;
  width: 50%;
}
.main h1 span {
  text-transform: uppercase;
}
.main h2 {
  margin-top: 20px;
  font-size: 22px;
  line-height: 35px;
  font-weight: normal;
  color: #FFFFFF;
  width: 50%;
}
.main .bg {
  background: url('../img/person.png') no-repeat;
  background-position: right 25px bottom;
  height: 710px;
}
.main h1 br {
  display: none;
}
@media screen and (max-width: 1300px) {
  .main .bg {
    background-size: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .main h1 br {
    display: block;
  }
  .main .bg {
    background-size: 120%;
    background-position: right -40px bottom;
    height: 640px;
  }
  .main .container button {
    margin: 0;
    position: absolute;
    bottom: 76px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    width: 241px;
    padding: 15 0;
  }
  body {
    overflow-x: hidden;
  }
  .filler {
    display: none;
  }
  body > .header {
    padding: 0 13px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 2;
    background: #fff;
    width: calc(100% - 20px);
  }
  .header > ul.navigation {
    display: none;
  }
  .header > ul.contacts > li {
    margin: 0;
  }
  .header > ul.contacts > li > img {
    margin-right: 7px;
  }
  .header > ul.contacts {
    display: none;
  }
  .main ul.menu {
    display: none;
  }
  .main {
    padding-top: 70px;
    text-align: center;
    background: -o-radial-gradient(50% 80%, circle farthest-side, #1E2841 0%, #0B1222 60%);
    background: radial-gradient(circle farthest-side at 50% 80%, #1E2841 0%, #0B1222 60%);
    background: -o-radial-gradient(circle farthest-side at 50% 80%, #1E2841 0%, #0B1222 60%);
    background: -webkit-radial-gradient(circle farthest-side at 50% 80%, #1E2841 0%, #0B1222 60%);
  }
  .main h1 {
    font-size: 27px;
    line-height: 40px;
    width: 100%;
    margin-top: 0;
    padding-top: 28px;
  }
  .main h2 {
    font-size: 16px;
    line-height: 26px;
    width: 90%;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 217px;
  }
  .main::after {
    content: "";
  }
  .main a.order {
    margin-top: 270px;
    margin-bottom: 76px;
  }
  .main .container {
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.80)), color-stop(46%, rgba(233,148,148,0)));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.80) 0%, rgba(233,148,148,0) 46%);
    background: linear-gradient(0deg, rgba(0,0,0,0.80) 0%, rgba(233,148,148,0) 46%);
    background-size: 120%;
    background-position: bottom;
  }
  .main .container h1, .main .container h1 span {
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
  }
  .header > .burger-menu {
    display: block;
  }

}
@media (min-width: 400px) and (max-width: 1000px) {
  .main .bg {
    background-size: 500px;
    background-position: bottom center;
  }
}
/* end banner */
/* BLOCK 2 */
.block-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  padding-top: 166px;
}
.block-skills .title {
  background: -webkit-gradient(linear, left top, right top, from(#FBDCA5), to(#EABC6E));
  background: -o-linear-gradient(left, #FBDCA5 0%, #EABC6E 100%);
  background: linear-gradient(90deg, #FBDCA5 0%, #EABC6E 100%);
  border-radius: 4px;
  display: inline-block;
  padding: 5px 30px;
  color: #424242;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 20px;
}
.block-skills h1 {
  font-weight: bold;
  line-height: 60px;
}
.block-skills  h6 {
  margin-top: 43px;
  line-height: 35px;
}
.block-skills .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}
.block-skills .skills .skill-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: grid;
      flex-wrap: grid;
}
.block-skills .skills .skill-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 26px;
}
.block-skills .number {
  background-color: #24365F;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 8px solid #EDEEF0;
  text-align: center;
  margin-right: 23px;
}
.block-skills .number > span {
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  font-size: 30px;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-skills .skill-item > .text > span {
  color: #486DF1;
  font-weight: bold;
}
@media screen and (max-width: 1300px) {
  .block-skills {
    padding-left: 30px;
    padding-right: 30px;
  }
  .block-skills h1, .block-skills h1 span {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .block-skills {
    display: block;
    padding: 100px 20px 0 20px;
  }
  .block-skills .skills {
    margin-top: 44px;
  }
  .block-skills h6 {
    font-size: 16px;
    line-height: 26px;
  }
  .block-skills .number {
    width: 60px;
    height: 60px;
  }
  .block-skills .number span {
    font-size: 21px;
  }
}
@media screen and (max-width: 600px) {
  .block-skills .skills {
    display: block;
  }
  .block-skills h1, .block-skills h1 span {
    font-size: 32px;
    line-height: 45px;
  }
}
/* end block 2 */
/* citate */
.citate {
  margin-top: 92px;
  margin-bottom: 154px;
  background: #1D2D52;
  border-radius: 5px;
  padding: 36px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}
.citate span {
  font-weight: 700;
}
.citate img {
  margin-right: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
.citate p {
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 42px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1000px) {
  .citate {
    position: relative;
    margin-bottom: 47px;
    padding: 36px 30px;
    font-size: 14px;
    line-height: 24px;
  }
  .citate img {
    position: absolute;
    background: #334775;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    top: -40px;
    margin-right: 42px;
    left: 50%;
    border: 4px solid #CACED8;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    -o-object-fit: scale-down;
       object-fit: scale-down;
    padding: 10px;
  }
  .citate p {
    margin-top: 30px;
    border-left: 0;
    text-align: center;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }
}
/* end citate */
/* services */
.services {
  text-align: center;
  margin-bottom: 60px;
}
.services h1 {
  font-weight: bold;
  line-height: 66px;
  margin-bottom: 46px;
}
.services .rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.services .rows .service-item {
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 9px;
}
.services .rows .service-item img {
  width: 100%;
}
.service-item .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(56,63,87);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(56,63,87,1)), to(rgba(255,112,112,0)));
  background: -o-linear-gradient(bottom, rgba(56,63,87,1) 0%, rgba(255,112,112,0) 100%);
  background: linear-gradient(0deg, rgba(56,63,87,1) 0%, rgba(255,112,112,0) 100%);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.service-item .content .title {
  margin-bottom: 37px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.price {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.service-item .content button.order {
  display: none;
  border: 0;
}
.service-item .content:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgb(56,63,87, 0.72);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.service-item > .content:hover > .price {
  display: block;
}
.service-item > .content:hover > button.order {
  display: block;
  margin-top: 22px;
}
.service-item > .content:hover > .title {
  margin: 0 0 11px 0;
}
@media screen and (max-width: 600px) {
  .services .rows .service-item .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .rows .service-item .content .price {
    margin: 0;
  }
}
@media screen and (max-width: 1000px) {
  .services .rows {
    display: block;
  }
  .services h1 {
    margin-bottom: 20px;
  }
  .services .rows .service-item {
    padding: 17px 12px;
    background: #1D2D52;
    margin: 0 0 9px 0;
    border-radius: 0;
  }
  .services .rows .service-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    height: auto;
  }
  .services .rows .service-item .content {
    position: relative;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services .rows .service-item .content .title {
    font-size: 12px;
    text-align: left;
    margin-bottom: 7px;
    padding-right: 15px;
  }
  .services .rows .service-item .content .price {
    display: block;
    text-align: left;
    margin: 20px 0;
  }
  .services .rows .service-item .content .order {
    display: block;
    margin-top: 15px;
  }
  .services .rows .service-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service-item > .content:hover > .title {
    margin-bottom: 7px;
  }
  .service-item > .content:hover > .order {
    margin-top: 15px;
  }
}
/* end service */
/* sub-services */
.sub-services {
  margin-bottom: 160px;
}
.sub-services h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 30px;
}
.sub-services .table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.sub-services .table .col {
  height: 84px;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 15px;
}
.sub-services .table .row .col {
  border-bottom: 1px solid #E3E3E3;
  margin: 0 14px;
}
.sub-services .table .row.title .col {
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: none;
}
.sub-services .table .col.header {
  background: rgba(220, 230, 253, 0.66);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #212121;
  border-bottom: 0;
  margin: 0;
}
.sub-services .table .row {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 10px;
  overflow: hidden;
}
.sub-services .table .row.title {
  background: none;
}
.sub-services .table .row.title {
  border-bottom: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sub-services .table .row .col:last-child {
  border-bottom: 0;
}
.sub-services .table .row.title .col:last-child {
  border-bottom: 1px solid #E3E3E3;
}
.row:hover > .col.header {
  background: #FFF0D6;
}
.sub-services .table a.details {
  margin-top: 27px;
}
.sub-services .table-small {
  display: none;
}
.sub-services .table-small .title {
  background: rgba(220, 230, 253, 0.66);
  padding: 0 16px;
  color: #232225;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1px;
}
.sub-services .table-small .title span {
  background: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sub-services .table-small .title span:before {
  content: url('../img/icon/arrow.svg');
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sub-services .table-small .title span.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.sub-services .table-small .services {
  margin-bottom: 0;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  will-change: transform;
  -webkit-transition: opacity .5s, max-height .5s;
  -o-transition: opacity .5s, max-height .5s;
  transition: opacity .5s, max-height .5s;
}
.sub-services .table-small .services.active {
  max-height: 100%;
}
.sub-services .table-small .services .service-item {
  padding: 10px 16px;
  border-bottom: 1px solid #E3E3E3;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: left;
}
.sub-services .table-small a.details { 
  margin: 15px 16px;
  padding: 11px 33px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.sub-services a.details:hover { 
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .sub-services {
    margin-bottom: 60px;
  }
  .sub-services h1 {
    line-height: 40px;
  }
  .sub-services .table {
    display: none;
  }
  .sub-services .table-small {
    display: block;
  }
}
/* end sub-services */
/* order-services */
.order-services {
  background: url('../img/order-bg.png') no-repeat;
  background-size: cover;
  min-height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.order-services h1, #modal h1 {
  font-weight: bold;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 3px;
}
.order-services h6, #modal h6 {
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 37px;
}
.order-services h6 span, #modal h6 span {
  font-weight: 700;
}
.order-services .form-group, #modal .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-services .form-group input, #modal .form-group input {
  height: 57px;
  border-radius: 5px;
  padding: 13px 46px;
  width: 317px;
  font-weight: normal;
  font-size: 14px;
  outline: none;
  border: 0;
  margin-right: 22px;
}
.order-services > .form-group > input.name, #modal > .form-group > input.name {
  background: #FFFFFF url('../img/icon/form-icon-name.svg') no-repeat;
  background-position: center left 21px;
}
.order-services .form-group .phone, #modal .form-group .phone {
  background: #FFFFFF url('../img/icon/form-icon-phone.svg') no-repeat;
  background-position: center left 21px;
}
.order-services .form-group button, #modal .form-group button {
  border: 0;
  margin: 0;
  width: 200px;
  height: 57px;
}
.order-services .checkbox-group, #modal .checkbox-group {
  margin-top: 23px;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-services .checkbox-group label, #modal .checkbox-group label {
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}
.order-services .checkbox-group a, #modal .checkbox-group a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .order-services {
    text-align: center;
    padding: 41px 20px;
  }
  .order-services h6 {
    font-size: 16px;
    line-height: 26px;
    width: 238px;
    margin-bottom: 24px;
  }
  .order-services h1 {
    line-height: 50px;
  }
  .order-services .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 450px;
  }
  .order-services .form-group button {
    width: 100%;
    margin-top: 6px;
  }
  .order-services .form-group input {
    margin: 0 0 10px 0;
    width: 100%;
  }
  .order-services .checkbox-group {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 40px;
  }
  .order-services .checkbox-group label {
    display: inline-block;
    text-align: left;
    line-height: 23px;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .order-services .form-group {
    width: 100%;
  }
}
/* end order-services */
/* how-work */
.how-work {
  padding-top: 168px;
  padding-bottom: 146px;
  background: #fff url('../img/how-work-bg.png') no-repeat;
  background-size: cover;
}
.how-work .container {
  position: relative;
}
.how-work img.pic1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 480px;
  height: 595px;
}
.how-work img.pic2 {
  position: absolute;
  top: 129px;
  right: 347px;
  z-index: 2;
  border: 9px solid #fff;
  width: 391px;
  height: 337px;
}
.how-work h1 {
  font-weight: bold;
  line-height: 66px;
  margin-bottom: 35px;
}
.how-work .steps {
  max-width: 410px;
}
.how-work .steps .step-item {
  border-left: 1px solid rgba(0, 84, 150, 0.17);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  margin-left: 15px;
}
.how-work .steps .step-item:last-child {
  border-left: 0;
}
.how-work .steps .step-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}
.how-work .steps .step-item .number {
  width: 30px;
  height: 30px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-left: -15px;
}
.how-work .steps .step-item .title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  padding-top: 2px;
}
.how-work .steps .step-item .description {
  padding-bottom: 30px;
}
@media screen and (max-width: 1300px) {
  .how-work .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .how-work .container {
    padding: 0;
  }
  .how-work img.pic1 {
    width: 400px;
    height: auto;
  }
  .how-work img.pic2 {
    top: 107px;
    right: 180px;
    width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .how-work {
    padding: 42px 20px;
  }
  .how-work .steps .step-item .title {
    font-size: 16px;
    padding-top: 5px;
  }
  .how-work .steps .step-item .description {
    font-size: 14px;
    line-height: 175%;
  }
}
@media screen and (max-width: 920px) {
  .how-work img.pic1 {
    width: 300px;
    height: auto;
  }
  .how-work img.pic2 {
    top: 83px;
    right: 150px;
    width: 250px;
  }
}
@media screen and (max-width: 850px) {
  .how-work img {
    display: none;
  }
}
/* end how-work */
/* certificate */
.certificate {
  background: #fff url('../img/order-bg.png') no-repeat;
  background-size: cover;
  padding: 140px 0;
  overflow: hidden;
}
.certificate .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}
.certificate .container a {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.85);
}
.certificate .container a:hover {
  border: 0;
}
.certificate h1 {
  font-weight: bold;
  color: #fff;
}
.certificate .swiper-slide {
  position: relative;
}
.certificate .swiper-slide img {
  width: 100%;
}
.certificate .swiper-slide .magnifier {
  display: none;
  width: 65px;
  height: 47px;
  background: rgba(29, 29, 29, 0.8) url('../img/magnifier.png') no-repeat;
  background-size: 27px;
  background-position: center center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.certificate .swiper-slide img:hover {
  opacity: 0.5;
}
.certificate .swiper-slide:hover {
  background: #000 url('../img/magnifier.png') no-repeat;
  background-position: center center;
}
.certificate .swiper-pagination-bullet {
  background: #fff;
}
.certificate .swiper-pagination {
  display: none;
}
.certificate .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.certificate .navigation > .swiper-prev, .certificate .navigation > .swiper-next {
  margin: 0 15px;
}
.certificate .navigation > .swiper-prev {
  background: url('../img/left-icon-white.png') no-repeat;
  background-position: center center;
}
.certificate .navigation > .swiper-next {
  background: url('../img/right-icon-white.png') no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1000px) {
  .certificate .swiper-slide .magnifier {
    display: block;
  }
  .certificate {
    padding: 42px 20px;
    margin-bottom: 40px;
  }
  .certificate .swiper-wrapper {
    padding-bottom: 60px;
  }
  .certificate .swiper-pagination {
    display: block;
    z-index: 1;
  }
  .certificate .container {
    display: block;
    width: 100%;
  }
  .certificate h1 {
    text-align: center;
  }
  .certificate .container a {
    display: none;
  }
  .certificate .certiifcateSwiper  {
    width: 100%;
    padding-bottom: 10px;
  }
  .certificate .navigation > .swiper-prev, .certificate .navigation > .swiper-next {
    display: none;
  }
}
/* end certificate */
/* portfolio */
.portfolio {
  padding-top: 150px;
  padding-bottom: 160px;
}
.portfolio .swiper-container {
  position: relative;
  margin-top: 34px;
}
.portfolio h1 {
  text-align: center;
  font-weight: bold;
  color: #000;
}
.portfolio .swiper-prev, .portfolio .swiper-next {
  position: absolute;
}
.portfolio .swiper-prev {
  top: 27px;
  left: 0;
}
.portfolio .swiper-next {
  top: 27px;
  right: 0;
}
.portfolio .portfolioSwiper .swiper {
  overflow: hidden;
  margin-top: 34px;
  margin-bottom: 50px;
}
.portfolio .portfolioSwiper {
  width: 90%;
  overflow: hidden;
  margin-bottom: 40px;
}
.portfolio .portfolioSwiper .swiper-wrapper {
  margin-bottom: 20px;
}
.portfolio .portfolioSwiper .swiper-scrollbar {
  left: 0 !important;
  width: 100% !important;
  background: rgba(69, 118, 247, 0.1);
}
.portfolio .portfolioSwiper .swiper-scrollbar .swiper-scrollbar-drag {
  background: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
}
.portfolio .portfolioSwiper .swiper-slide {
  border: 1px solid #6C95F7;
  border-radius: 3px;
  color: #486DF1;
  width: 169px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.portfolio .portfolioSwiper .swiper-slide:hover, .portfolio .portfolioSwiper .swiper-slide.active {
  background: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
  color: #fff;
  font-weight: bold;
}
.portfolio .portfolio-item .text {
  padding-right: 68px;
}
.portfolio .portfolio-item .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
  grid-template-columns: 45% 55%;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.portfolio .portfolio-item .title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
}
.portfolio .portfolio-item ul {
  margin: 23px 0;
}
.portfolio .portfolio-item ul li {
  padding-left: 23px;
  background: url("../img/icon/list-item-blue.svg") no-repeat left top 7px;
}
.portfolio .portfolio-item a.show-more {
  color: #6987F3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.portfolio .portfolio-item a.show-more:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.portfolio .portfolio-item .pictures {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-item .pictures img {
  width: 181px;
  margin: 10px 0px 0px 17px;
  display: block;
}
.portfolio .portfolio-item .pictures img:last-child {
  width: calc(100% - 210px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.portfolio .portfolio-item .content .pictureSswiper {
  display: none;
}

.portfolio .portfolio-item .content .pictureSswiper .swiper-slide {
  height: 332px;
  position: relative;
  overflow: hidden;
  
}
.portfolio .portfolio-item .content .pictureSswiper .swiper-slide .magnifier {
  width: 65px;
  height: 47px;
  background: rgba(255, 255, 255, 0.8) url('../img/magnifier-2.png') no-repeat;
  background-position: center center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.portfolio .portfolio-item .content .pictureSswiper .swiper-slide img {
  height: 100%;
}
@media screen and (max-width: 1300px) {
  .portfolio .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio .portfolioSwiper {
    width: 100%;
  }
  .portfolio .container {
    padding: 0;
  }
  .portfolio .swiper-prev, .portfolio .swiper-next {
    display: none;
  }
  .portfolio .portfolioSwiper .swiper-wrapper {
    overflow: visible;
  }
  .portfolio .portfolioSwiper .swiper-scrollbar {
    display: none;
  }
  .portfolio .portfolioSwiper {
    margin-top: 22px;
    margin-bottom: 20px;
  }
  .portfolio {
    padding: 44px 20px;
    overflow: hidden;
  }
  .portfolio .portfolio-item .pictures {
    display: none;
  }
  .portfolio .swiper {
    overflow: visible;
    margin-bottom: 20px;
  }
  .portfolio .portfolio-button {
    text-align: center;
    font-size: 14px;
  }

  .portfolio .portfolio-item .content {
    display: block;
  }
  .portfolio .portfolio-item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .portfolio .portfolio-item .content .pictureSswiper {
    display: block;
    width: 100%;
  }
  .portfolio .portfolio-item .text {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }
  .portfolio .portfolio-item .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
/* end portfolio */
/* rate */
.rate {
  background: #fff url('../img/order-bg.png') no-repeat;
  background-size: cover;
  padding: 147px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 145px;
}
.rate .rate-item {
  width: 253px;
  height: 140px;
  position: relative;
  background: url('../img/border.png') no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.rate .rate-item:last-child {
  background: none;
}
.rate .rate-item .number {
  font-size: 55px;
  line-height: 66px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .rate {
    font-size: 14px;
    line-height: 21px;
  }
  .rate .rate-item .number {
    font-size: 43px;
  }
  .rate {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding: 50px 0;
    margin-bottom: 60px;
  }
  .rate .rate-item {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
  }
  .rate .rate-item:nth-child(2) {
    background: none;
  }
}
/* end rate */
/* instruments */
.instruments {
  padding-bottom: 159px;
  text-align: center;
  overflow: hidden;
}
.instruments h1 {
  margin-bottom: 45px;
  font-weight: bold;
  color: #000;
}
.instruments .instruments-item {
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
  text-align: left;
}
.instruments .instruments-item img.previev {
  display: block;
  margin: auto;
  height: 203px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.instruments .instruments-item .title {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}
.instruments .instruments-item a {
  margin-top: 20px;
  display: block;
  color: #6987F3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.instruments .instruments-item a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.instruments .instrumentsSwiper {
  margin-bottom: 20px;
}
.instruments .swiper-wrapper {
  padding-bottom: 20px;
}
.instruments .swiper-pagination {
  display: none;
}
.instruments .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.instruments .navigation > .swiper-prev, .instruments .navigation > .swiper-next {
  margin: 0 15px;
}
.instruments .navigation > .swiper-prev {
  background: url('../img/left-icon.png') no-repeat;
  background-position: center center;
}
.instruments .navigation > .swiper-next {
  background: url('../img/right-icon.png') no-repeat;
  background-position: center center;
}
.instruments .swiper-container {
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .instruments .swiper-wrapper {
    padding-bottom: 60px;
  }
  .instruments .swiper-container {
    margin-bottom: 0;
  }
  .instruments .swiper-pagination {
    display: block;
  }
  .instruments {
    padding: 0 20px 60px 20px;
  }
  .instruments .instrumentsSwiper {
    width: 100%;
    overflow: visible;
  }
  .instruments h1 {
    line-height: 40px;
  }
  .instruments .navigation > .swiper-prev, .instruments .navigation > .swiper-next {
    display: none;
  }
}
/* end instruments */
/* rewievs */
.rewievs-bg {
  overflow: hidden;
}
.rewievs-bg .title {
  background: #fff url('../img/order-bg.png') no-repeat;
  background-size: cover;
  padding-top: 143px;
  padding-bottom: 51px;
  text-align: center;
  height: 285px;
}
.rewievs-bg h1 {
  font-weight: bold;
  color: #fff;
}
.rewievs {
  text-align: center;
  padding-bottom: 137px;
}
.rewievs .rewievsSwiper {
  margin-top: -180px;
  margin-bottom: 20px;
}
.rewievs .swiper-wrapper {
  padding-bottom: 20px;
}
.rewievs .rewievs-item {
  padding: 37px 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #404040;
  font-size: 14px;
  line-height: 170%;
  text-align: left;
}
.rewievs .rewievs-item .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}
.rewievs .rewievs-item .header img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  margin-right: 17px;
}
.rewievs .rewievs-item .header .name {
  color: #131417;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 5px;
}
.rewievs .rewievs-item a {
  margin-top: 20px;
  display: block;
  color: #6987F3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.rewievs .rewievs-item a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.rewievs .swiper-pagination {
  display: none;
}
.rewievs .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rewievs .navigation > .swiper-prev, .rewievs .navigation > .swiper-next {
  margin: 0 15px;
}
.rewievs .navigation > .swiper-prev {
  background: url('../img/left-icon.png') no-repeat;
  background-position: center center;
}
.rewievs .navigation > .swiper-next {
  background: url('../img/right-icon.png') no-repeat;
  background-position: center center;
}
.rewievs .swiper-container {
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .rewievs .swiper-container {
    margin-bottom: 0;
  }
  .rewievs .swiper-wrapper {
    padding-bottom: 60px;
  }
  .rewievs {
    padding: 0 20px 60px 20px;
  }
  .rewievs-bg .title {
    padding-top: 56px;
    padding-bottom: 33px;
  }
  .rewievs .rewievsSwiper {
    width: 100%;
  }
  .rewievs-bg h1, .rewievs {
    padding-bottom: 77px;
  }
  .rewievs .rewievs-item {
    padding: 28px;
  }
  .rewievs .rewievs-item a {
    font-size: 12px;
  }
  .rewievs .rewievs-item .header .name {
    font-size: 14px;
  }
  .rewievs .navigation > .swiper-prev, .rewievs .navigation > .swiper-next {
    display: none;
  }
  .rewievs .swiper-pagination {
    display: block;
  }
}
/* end rewievs */
/* experts */
.experts {
  text-align: center;
  padding-bottom: 107px;
  overflow: hidden;
}
.experts .swiper-wrapper {
  margin-bottom: 50px;
}
.experts h1 {
  margin-bottom: 108px;
  font-weight: bold;
  color: #000;
}
.experts-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.experts .expert-item {
  background: -webkit-gradient(linear, left bottom, left top, from(#0B1222), to(#0B1222));
  background: -o-linear-gradient(bottom, #0B1222, #0B1222);
  background: linear-gradient(0deg, #0B1222, #0B1222);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  padding-bottom: 38px;
  margin: 0 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.experts .expert-item img {
  background: -webkit-gradient(linear, left top, right top, from(#7199F7), to(#3F72F6));
  background: -o-linear-gradient(left, #7199F7 0%, #3F72F6 100%);
  background: linear-gradient(90deg, #7199F7 0%, #3F72F6 100%);
  border-radius: 50%;
  width: 147px;
  height: 147px;
  background-clip: padding-box;
  border: 10px solid hsl(219deg 100% 90% / 18%);
  margin-top: -60px;
}
.experts .expert-item .name {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 23px;
  padding-bottom: 14px;
  margin-bottom: 19px;
  background: url('../img/bottom.png') no-repeat;
  background-position: bottom center;
}
.experts .expert-item .description {
  color: #fff;
  line-height: 21px;
}
@media screen and (max-width: 1000px) {
  .experts .swiper-wrapper {
    margin-bottom: 60px;
  }
  .experts {
    padding: 0 20px 59px 20px;
  }
  .expertsSwiper {
    width: 100%;
    overflow: visible;
    margin-bottom: 20px;
  }
  .experts .expert-item {
    margin: 0;
  }
}
/* end experts */
/* map */
.map {
  margin-bottom: 79px;
  position: relative;
}
.button-map {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  margin: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: calc(100% - 350px);
}
.button-map img {
  margin-right: 30px;
}
.map .contacts .contact {
  background: #0B1222;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 24px 81px 50px 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
  color: #FFFFFF;
  width: 350px;
  position: absolute;
  top: 50%;
  right: 0;
  left: calc(50% + 100px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.map .contacts .contact ul li {
  padding-left: 40px;
  margin-bottom: 14px;
  color: #fff;
}
.map .contacts .contact ul {
  margin-top: 17px;
}
.map .contacts .contact ul li.location {
  background: url('../img/icon/location.svg') no-repeat left top 3px;
}
.map .contacts .contact ul li.mail {
  background: url('../img/icon/mail.svg') no-repeat left top 3px;
}
.map .contacts .contact ul li.number {
  background: url('../img/icon/phone.svg') no-repeat left top 3px;
}
.map .contacts .contact ul li.time {
  background: url('../img/icon/time.svg') no-repeat left top 3px;
}
.map .contacts .contact .title {
  font-weight: 600;
  font-size: 22px;
  line-height: 66px;
  color: #fff;
}
.map-container {
  position: relative;
}
.map-container .map-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../img/map-bg.png');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0px;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
@media screen and (max-width: 1200px) {
  .map .contacts .contact {
    left: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .map {
    height: auto;
    margin-bottom: 0;
  }
  .map .contacts .contact {
    position: relative;
    width: auto;
    left: 0;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    border-radius: 0;
    padding: 24px 20px 40px 20px;
  }
  .map-container .map-bg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* end map */
/* information */
.information {
  font-size: 16px;
  line-height: 30px;
}
.information .title {
  font-weight: 600;
  font-size: 35px;
  line-height: 53px;
  margin-bottom: 23px;
  margin-top: 59px;
}
@media screen and (max-width: 1000px) {
  .information {
    padding: 0 20px;
  }
  .information .title {
    font-size: 18px;
    line-height: 26px;
  }
  .information {
    font-size: 14px;
    line-height: 26px;
  }
}
/* end information */
/* footer */
body > .footer {
  background: #0B1222;
  margin-top: 152px;
  padding: 76px 0 110px 0;
  overflow: hidden;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .block {
  padding: 0 50px;
}
.footer .block ul.navigation li {
  padding-left: 20px;
  background: url('../img/icon/list-item-gold.svg') no-repeat left center;
}
body > .footer a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.footer ul li {
  margin-bottom: 14px;
}
.footer .description {
  display: none;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  padding: 15px 50px;
}
.footer .copyright {
  display: none;
  color: #fff;
  font-size: 10px;
}
@media screen and (max-width: 1000px) {
  .footer .copyright {
    display: block;
  }
  .footer .description {
    display: block;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer ul {
    text-align: center;
  }
  .footer .block {
    text-align: center;
    width: 100%;
  }
  .footer .container ul.navigation {
    padding: 34px 0;
    background: url('../img/bottom.png') no-repeat;
    background-size: 100%;
    background-size: 100% 2px;
    background-position: bottom center;
  }
  .footer .container ul.navigation li {
    background: none;
    padding-left: 0;
  }
  .footer .container ul.link-1 {
    display: none;
  }
  .footer .container ul.link-2 {
    padding: 34px 0;
  }
}
/* end footer */
/* modal */
#modal {
  display: none;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(21, 33, 58, 0.79);
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#modal .content {
  padding: 63px;
  background: #fff;
  position: absolute;
  border-radius: 15px;
  text-align: center;
  position: relative;
}
#modal .content h1, #modal .content h6, #modal .content label, #modal .content a {
  color: #333333;
}
#modal .content .checkbox-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#modal .content input.name, #modal .content input.phone {
  background: #F5F5FA;
  color: #333333;
}
#modal button.close {
  position: absolute;
  width: 27px;
  height: 27px;
  background: url('../img/close.png') no-repeat;
  background-size: cover;
  right: 32px;
  top: 32px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  #modal .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    background: #0B1222;
    border-radius: 0;
    padding: 0 22px;
  }
  #modal .content h1, #modal .content h6, #modal .content .checkbox-group label, #modal .content a {
    color: #fff;
  }
  #modal .content h1 {
    line-height: 50px;
  }
  #modal .content h6 {
    font-size: 16px;
    line-height: 26px;
  }
  #modal .content .form-group {
    display: block;
  }
  #modal .content .form-group input {
    margin-bottom: 10px;
    width: 100%;
  }
  #modal .content .form-group button {
    margin-top: 6px;
    width: 100%;
  }
  #modal .content .checkbox-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #modal .content .checkbox-group label {
    display: inline-block;
    text-align: left;
    line-height: 24px;
  }
  #modal button.close {
    background: url('../img/close-white.png') no-repeat;
    background-size: cover;
  }
}